<!DOCTYPE html>
<html>
  <head>
    <h1>Magazine Article Submission</h1>
  </head>
  <body>
    <h2>Submit an article below!</h2><br>
    <form action='/articles' method='post'>
      <h4>Title: </h4><input type='text' name='article[:title]'><br>
      <h4>Article Content: </h4><textarea name='article[:content]'></textarea><br>
      <input type='submit' value='submit'>
    </form>
  </body>
</html>